<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--css start-->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <!--css end-->

    <title>《基于体育馆人数数据集离线计算仓库的数据分析、挖掘与可视化系统》</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="#">基于体育馆人数数据集离线计算仓库的数据分析、挖掘与可视化系统</a>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div id="main" style="width: 600px; height: 400px;"></div>
            <div id="main2" style="width: 600px; height: 400px;"></div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>
<!--js start-->
<!--jquery.js需要在bootstrap.js之前,不然会报错.bootstrap会用到jquery的库-->
<script th:src="@{/js/jquery-3.3.1.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/echarts.min.js}"></script>
<script type="text/javascript">
    let ctx = '[[${#httpServletRequest.getContextPath()}]]';
    $(function () {
        // 基于准备好的dom，初始化echarts实例
        let myChart = echarts.init(document.getElementById('main'));
        let myChart2 = echarts.init(document.getElementById('main2'));
        showContent();
        showContent2();

        function showContent() {
            $.ajax({
                type: "get",
                url: ctx + "/f/getNumberOfPerson",
                async: false,
                success: function (data) {
                    let personNumber = data
                    console.log(personNumber)
                    let option = {
                        tooltip: {
                            trigger: 'axis'
                        },
                        legend: {
                            data: ['2015', '2016', '2017']
                        },
                        toolbox: {
                            show: true,
                            feature: {
                                mark: {show: true},
                                dataView: {show: true, readOnly: false},
                                magicType: {show: true, type: ['line', 'bar']},
                                restore: {show: true},
                                saveAsImage: {show: true}
                            }
                        },
                        xAxis: {
                            type: 'category',
                            data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月']
                        },
                        yAxis: {
                            type: 'value'
                        },
                        series: [{
                            name: '2015',
                            type: 'bar',
                            data: []
                        }, {
                            name: '2016',
                            type: 'bar',
                            data: []
                        }, {
                            name: '2017',
                            type: 'bar',
                            data: []
                        }]
                    };
                    for (let i = 0; i < personNumber.length; i++) {
                        let date = personNumber[i].date
                        let number = personNumber[i].number
                        if (date.search("2015") !== -1) {
                            option.series[0].data.push(number)
                        }
                        if (date.search("2016") !== -1) {
                            option.series[1].data.push(number)
                        }
                        if (date.search("2017") !== -1) {
                            option.series[2].data.push(number)
                        }
                    }
                    // 使用刚指定的配置项和数据显示图表。
                    myChart.setOption(option);
                }
            })
        }

        function showContent2() {
            $.ajax({
                type: "get",
                url: ctx + "/f/getNumberOfPersonAboutFactor",
                async: false,
                success: function (data) {
                    let numberOfPersonAboutFactor = data
                    console.log(numberOfPersonAboutFactor)
                    let option = {
                        tooltip: {
                            trigger: 'axis'
                        },
                        legend: {
                            data: ['2015', '2016', '2017']
                        },
                        toolbox: {
                            show: true,
                            feature: {
                                mark: {show: true},
                                dataView: {show: true, readOnly: false},
                                magicType: {show: true, type: ['line', 'bar']},
                                restore: {show: true},
                                saveAsImage: {show: true}
                            }
                        },
                        xAxis: {
                            type: 'category',
                            data: []
                        },
                        yAxis: {
                            type: 'value'
                        },
                        series: [{
                            name: 'numberPeople',
                            type: 'bar',
                            data: []
                        }, {
                            name: 'dayOfWeek',
                            type: 'bar',
                            data: []
                        }, {
                            name: 'isWeekend',
                            type: 'bar',
                            data: []
                        }, {
                            name: 'isHoliday',
                            type: 'bar',
                            data: []
                        }, {
                            name: 'temperature',
                            type: 'bar',
                            data: []
                        }, {
                            name: 'isStartOfSemester',
                            type: 'bar',
                            data: []
                        }, {
                            name: 'isDuringSemester',
                            type: 'bar',
                            data: []
                        }]
                    };
                    for (let i = 0; i < numberOfPersonAboutFactor.length; i++) {
                        let date = numberOfPersonAboutFactor[i].date
                        let numberPeople = numberOfPersonAboutFactor[i].numberPeople
                        let dayOfWeek = numberOfPersonAboutFactor[i].dayOfWeek
                        let isWeekend = numberOfPersonAboutFactor[i].isWeekend
                        let isHoliday = numberOfPersonAboutFactor[i].isHoliday
                        let temperature = numberOfPersonAboutFactor[i].temperature
                        let isStartOfSemester = numberOfPersonAboutFactor[i].isStartOfSemester
                        let isDuringSemester = numberOfPersonAboutFactor[i].isDuringSemester
                        option.xAxis.data.push(date)
                        option.series[0].data.push(numberPeople)
                        option.series[1].data.push(dayOfWeek)
                        option.series[2].data.push(isWeekend)
                        option.series[3].data.push(isHoliday)
                        option.series[4].data.push(temperature)
                        option.series[5].data.push(isStartOfSemester)
                        option.series[6].data.push(isDuringSemester)
                    }
                    // 使用刚指定的配置项和数据显示图表。
                    myChart2.setOption(option);
                }
            })
        }
    })
</script>
<!--js end-->
</body>
</html>